<div class="task-list">
    <h3>
        <ng-content></ng-content>
    </h3>

    <table class="table table-striped">
        <tbody>
            <tr *ngFor="let item of list">
                <td>
                    <span>{{ item.nome }}</span>
                    <span class="task-list__finalizado" ></span>
                    <span class="task-list__iniciado"></span>
                    <span class="task-list__retroceder"></span>
                    <span  class="task-list__retroceder"></span>
                </td>
            </tr>
        </tbody>
    </table>

</div>